html,
body,
.row-main{
	height: 100%;
	background-color: #edebe6;
}
.container{
	height: 100%;
	margin: 0;
}
.search-box{
	height: 100%;
	width: 100%;
	font-size: 20px;
	border-width: 3px;
	padding: 10px;
}
.col-search{
	height: 10%;
	padding: 2%;
}
.col-map{
	height: 53%;
	overflow: hidden;
}
.col-wiki{
	font-size: 16px;
	text-align: justify;
	height: 28%;
	overflow-y: scroll;
}
.panel.panel-default{
	width: 100%;
}
.panel-group{
	margin: 0;
}
#accordionTwo{
	position: absolute;
	bottom: 0;
}
.panel-heading{
	padding: 0;
}
.place-name{
	padding: 0 0 0 44px;
	font-size: 16px;
}
.panel-default .panel-heading .badge,
.badge{
	background-color: #403b33;
	color: #94c7b6;
	margin: 0;
	padding: 5px;
}
.panel-default .panel-heading .current-badge{
	margin: 3px 0 0 0;
	background-color: #403b33;
	color: #94c7b6;
}
.uber-price-title{
	margin:0;
	font-size: 14px;
}
.title-badges{
	float: right;
	margin:0 10px 0 0;
	text-align: center;
}
.list-group-item.panel-title{
	padding:0;
}

.list-group-item{
	background-color: #d6e1C7;
	border-color: #403b33;
}

.selected{
	background-color: #94c7b6;
}
a.list-group-item:hover{
	background-color: #94c7b6;
}

.btn-default{
	background-color: #94c7b6;
	margin:10px;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default{
	background-color: #d6e1C7;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/*
h1{
	text-align: center;
	color: #403b33;
	margin: 0 0 20px 0;
}
*/