html,
body{
	height: 100%;
	background-color: #edebe6;
}
.container{
	height:100%;
	margin: 0;
}
.search-box{
	height:100%;
	width:100%;
	font-size:20px;
	border-width:3px;
	padding:10px;
}
.row-main{
	height:100%;
}
.col-search{
	height:10%;
	padding: 2%;
}
.col-map{
	height:53%;
}
.col-wiki{
	font-size: 16px;
	text-align: justify;
	height: 28%
}
.col-places{
}
.panel-header,
.panel-default{

}
.panel.panel-default{
	width: 100%;
}
.panel-container{

}
.panel-group{
	margin-bottom:0;
}
#accordionTwo{
		position: absolute;
	bottom: 10px;
}
/*#accordion .collapsing, #accordion .collapse.in
{
  position: absolute !important;
  z-index: 20;
  width: auto;
  overflow:visible;
  }*/


/*html,
#map-canvas{
	margin: 0px;
	padding: 0px;
}
html{
	height:100%;
}
.container{
	height:100%;
}
body{
	background-color: #edebe6;
	height:100%;
}
.map-canvas{
	height: 100%;
}
.controls {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-top: 20px;
	padding: 0px 11px 0 13px;
	text-overflow: ellipsis;
	width: 40%;
}

#pac-input:focus {
	border-color: #4d90fe;
}

h1{
	text-align: center;
	color: #403b33;
	margin: 0 0 20px 0;
}


.page-title{
	margin: 0;
}
.list-group{
	border-radius: 0;
}
.list-group-item{
	background-color: #d6e1C7;
	border-color: #403b33;
	border-radius:0;
}

.badge{
	background-color: #403b33;
	color:#94c7b6;
	margin-right: 5px;
}

.h3-badge{
	margin-right: 15px;
}

a.list-group-item{
	padding: 2px 15px 2px 15px;
}

a.list-group-item:hover{
	background-color: #94c7b6;
}

a.list-group-item:focus{
	background-color: #94c7b6;
}

.selected{
	background-color: #94c7b6;
}

a:focus{
	outline: none;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}





.page-title,
.locations{
	display:none;

}
.container{
	padding:0;

}

.main-row{
	margin:0;


}
.controls{
	height: 40px;
	width:100%;
	margin:0;
}

.panel-group{
	position: fixed;
	bottom:0px;
	width:100%;
	margin-bottom: 0;

}
.list-group-item{
	height: 30px;
}
.panel-heading{
	padding:0;
	padding-top: 3px;
	height:40px;


}
.panel-default{
	width:100%;

}
.panel-default .panel-heading{
	background-color: #d6e1C7;
	border: 1px solid black;
}
.panel-title{
	font-size: 16px;
}

.panel-title .accordion-toggle .place-name{
	margin-top:10px;
	display:inline-block;
}
.collapsed-badge{
	vertical-align: middle;
	margin:0;
	height: 40px;

}

.badge-middle{
	margin-top: 8px;
	margin-right:5px;
}
.btn-default{
	background-color: #94c7b6;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default{
	background-color: #d6e1C7;
}

.panel-default .panel-heading .badge{
	color: #94c7b6;
}
a.list-group-item{
	padding-right: 0;
}

.map{
	height: 54%;
	position: relative;
	overflow: hidden;
}
.wiki-area{
	padding:10px;
}
.wiki-content{
	text-align: justify;
}
.panel.panel-default{
	height:45px;
}*/